bundle/
*.pyc
*.swp
*.bak
.svn
*.log
.subversion/auth
.subversion/servers
.viminfo
.zsh_history
log/*

home/.composer/auth.json
home/.composer/cache/
home/.composer/composer.lock
home/.composer/*.phar
home/.composer/*.pub
home/.composer/vendor/
home/.cache
